@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Clash Display";
  src: local("Clash Display"),
    url("./assets/fonts/ClashDisplay-Regular.otf") format("opentype");
}

html,
body {
  @apply bg-dark w-full box-border min-h-screen m-0 p-0 font-clash bg-fixed;
  background-image: url("./assets/images/noise.png");
}

a {
  outline: none;
  @apply hover:text-white transition-all ease-linear;
}

#bent_text span {
  position: absolute;
  left: 50%;
  transform-origin: 0 85px;
  font-size: 1.25rem;
}
.slick-slider button.slick-arrow {
  display: none !important;
}

.header_image {
  background-image: url("./assets/images/Cornerstone.jpg");
}

textarea::-webkit-scrollbar {
  display: none;
}
